PORT=3000
HOST=127.0.0.1
DATABASE_URL=postgresql://umss:umss_local@127.0.0.1:5432/informes_umss
FRONTEND_ORIGIN=http://localhost:4200
NODE_ENV=development
SEED_ADMIN_PASSWORD=admin123
INITIAL_GESTION=2026
INITIAL_LAST_NUMERO=17
